body {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 80%;
  margin: auto;
}
li {
  list-style: none;
}
/*===================== Navbar CSS ================ */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 0;
}
.navbar .nav {
  display: flex;
  justify-content: space-between;
}
.nav__Bakery-logo {
  width: 100px;
  margin: 10px 30px;
}
.navbar .nav__Bakery-logo img {
  width: 200px;
}
.navbar .nav__linkes {
  margin: 15px 35px;
}
.nav__linkes {
  display: flex;
  align-items: center;
}
.nav__linkes li {
  list-style: none;
  padding: 10px 15px;
  font-size: 18px;
  transition: 0.5s;
}
.nav__linkes li:hover {
  color: #e0c690;
}
/*===================== Section of Home  CSS ================ */
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0% 100%),
    url(../images/drew-coffman-1872.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  width: 75%;
}
.home .home-content span {
  font-size: 22px;
}
.home .home-content h1 {
  font-size: 70px;
  font-weight: 400;
  margin: 15px auto;
}
.home .home-content .home-content-desc {
  width: 65%;
  margin: auto;
}
.home .home-content p {
  font-size: 24px;
  margin: 15px auto;
}
.home .home-content .btns button {
  padding: 16px 20px;
  border: solid 2px #fff;
  margin: 30px 4px;
  color: #fff;
  font-weight: 600;
  border-radius: 7%;
}
.home .home-content .btns button.btn-learn {
  background-color: #8e7754;
  border: solid 3px transparent;
  transition: 0.2s;
}
.home .home-content .btns button.btn-learn:hover {
  background-color: #fff;
  color: #000;
  border: solid 3px transparent;
}
.home .home-content .btns button.btn-Contact {
  background-color: transparent;
}
.home .home-content .btns button.btn-Contact:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s;
}
/* ========= Who we Are CSS ============= */
.how-we-are .how-we-are-middel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 50px;
}
.how-we-are .how-we-are-img {
  width: 40%;
}
.how-we-are .how-we-are-img img {
  width: 100%;
  display: block;
}
.how-we-are .how-we-are-content {
  width: 50%;
  align-self: flex-start;
  margin: 30px;
}
.how-we-are .how-we-are-content h2 {
  font-size: 32px;
  font-weight: 400;
}
.how-we-are .how-we-are-content p {
  font-size: 17px;
  margin: 35px 0;
  line-height: 2;
}
.how-we-are .how-we-are-content .bakary-social-media ul {
  margin-inline: 0;
  padding-left: 0;
}
.how-we-are .how-we-are-content .bakary-social-media li {
  margin: 25px 0;
  font-size: 17px;
  display: flex;
  align-items: center;
}
.how-we-are .how-we-are-content .bakary-social-media li span {
  border: solid 2px #d9d9d9;
  display: flex;
  text-align: center;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.how-we-are .how-we-are-content .bakary-social-media li span i {
  margin: auto;
  font-size: 20px;
  color: #8e7754;
}
/* ========= Our Location CSS ============= */
.Our-Location {
  background-color: #f8f8f8;
}
.Our-Location .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Our-Location .Our-Location-desc {
  width: 50%;
  align-self: flex-start;
  margin-top: 30px;
  padding: 15px 10px;
}
.Our-Location .Our-Location-desc h2 {
  font-size: 32px;
  font-weight: 400;
}
.Our-Location .Our-Location-desc p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
}
.Our-Location .Our-Location-desc p#location-id {
  margin-top: 40px;
}
.Our-Location .Our-Location-img {
  width: 50%;
}
.Our-Location .Our-Location-img img {
  width: 100%;

  display: block;
}
/* =================== Our Baking CSS ================= */
.our-baking {
  margin-top: 35px;
}
.our-baking .baking-content {
  text-align: center;
  margin: 50px auto;
}
.our-baking .baking-content h2 {
  font-size: 30px;
  font-weight: 400;
}
.our-baking .baking-content p {
  font-size: 17px;
  color: gray;
}
.our-baking .baking-cards {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-baking .baking-cards .card {
  padding: 0 25px;
}
.our-baking .baking-cards img {
  width: 100%;
}
.our-baking .baking-cards h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 27px auto;
}
.our-baking .baking-cards p {
  font-size: 17px;
  line-height: 1.5;
  color: gray;
}
/* =================== Our Baking CSS ================= */
.contact-Information {
  background-color: #f8f8f8;
  padding: 35px;
  margin-block: 40px;
}
.contact-Information .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-Information .contact-info {
  padding: 0 15px;
  width: 50%;
}
.contact-Information .contact-info h2 {
  font-size: 32px;
  font-weight: 400;
}
.contact-Information .contact-info p {
  font-size: 17px;
  line-height: 1.5;
  color: gray;
  font-weight: 400;
}
.contact-Information .contact-info p#detalis {
  margin-block: 10px;
}
.contact-Information .contact-info .contact-social-media ul {
  padding: 15px 0;
  margin-left: 0;
}
.contact-Information .contact-info .contact-social-media ul li {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.contact-Information .contact-info .contact-social-media ul li span {
  background-color: #8e7754;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contact-Information .contact-info .contact-social-media ul li span i {
  font-size: 19px;
  color: #fff;
}
.contact-Information .google-map {
  width: 45%;
  border: solid 1px #d3b67c;
}
.contact-Information .google-map iframe {
  width: 100%;
  display: block;
}
/* ========================== Info-about-us css ============================ */
.Info-about-us {
  background-color: #403d38;
  color: #fff;
  padding: 30px 0;
  color: gray;
}
.Info-about-us .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Info-about-us h3 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.Info-about-us .about-us p {
  line-height: 1.5;
}
.w-25 {
  width: 25%;
  margin: 0 5px;
  padding: 15px;
}
.text-center {
  text-align: center;
}
.Info-about-us ul {
  margin: 30px auto;
  font-size: 16px;
  font-weight: 400;
}
.Info-about-us ul li {
  margin: 15px auto;
  padding-bottom: 3.4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
/* ===================== Footer css  ================== */
.bakary-img {
  background-color: red;
}
footer {
  background-color: #353330;
  padding: 40px;
}
.footer-content {
  text-align: center;
}
.footer-content p {
  margin-bottom: 0;
  margin-top: 20px;
  color: #777777;
}
.bakary-social-media-ico ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bakary-social-media-ico li {
  background-color: #403d38;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.4s;
}
.bakary-social-media-ico li:hover {
  background-color: #00aced;
}
.bakary-social-media-ico img {
  width: 100%;
}
/* =================== */

@media (max-width: 768px) {
  .navbar {
    background: rgba(0, 0, 0, 0.7);
  }
  .navbar .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav__Bakery-logo {
    width: 100%;
  }
  .nav__linkes {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 25px 0;
    align-items: center;
  }
  .nav__linkes li {
    padding: 12px 0px;
  }
}
